# PORT

PORT='add listen port',


#DB

DB_USER='add user name',
DB__PASSWORD='add user password',
DB_HOST='add host',
DB_DATABASE='add a database',
DB_PORT='add db port',

#JWT

JWT_SECRET='add content',


#ADMIN
ADMIN_USERNAME='add username',
ADMIN_PASSWORD='add password',
ADMIN_ROLE='add role'

#NEON PASS

CONNECTION_STRING='add string'

DB_SWITCH=''