# PORT

PORT='add content',


#DB

DB_USER='add content',
DB__PASSWORD='add content',
DB_HOST='add content',
DB_DATABASE='add content',
DB_PORT='add content',

#JWT

JWT_SECRET='add content',


#ADMIN
ADMIN_USERNAME='add username',
ADMIN_PASSWORD='add password',
ADMIN_ROLE='add role'

#NEON PASS

CONNECTION_STRING='add string'